@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}

.bg-bottom-left {
  background-image: url("/bg-1.png");
  background-repeat: no-repeat;
  background-size: 169px 125px;
  background-position: bottom left;
}

.bg-top-right {
  background-image: url("/bg-2.png");
  background-repeat: no-repeat;
  background-size: 139px 103px;
  background-position: top right;
}

.newsletter {
  background-image: url("/ellipse.png");
  background-repeat: no-repeat;

  background-position: bottom right;
}
footer {
  background-image: url("/objects.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 50px;
}

@media screen and (min-width: 768px) {
  footer {
    background-size: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .bg-bottom-left,
  .bg-top-right {
    background-size: 450px 340px;
  }
}

.custom-container {
  @apply px-4 md:px-6 mx-auto lg:container xl:max-w-[1182px];
}
.btn-primary {
  @apply bg-primary text-white rounded-[11px] font-bold text-xs md:text-sm capitalize transition-all ease-in-out duration-300 hover:opacity-85;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.card-shadow {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.card-img-cover {
  background: linear-gradient(
    180deg,
    rgba(85, 37, 159, 0) 0%,
    rgba(85, 37, 159, 0.84) 98%
  );
}

.scroll-bar::-webkit-scrollbar {
  height: 0px;
}
.footer-nav-item {
  @apply flex flex-col text-[0.625rem] xs:text-sm md:text-base gap-2.5 w-1/2  md:gap-3.5  md:w-fit flex-none;
}
.footer-nav-item > * {
  @apply w-fit hover:underline;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
